* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #ff69b4;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://marketplace.canva.com/EAFoEJMTGiI/1/0/1600w/canva-beige-aesthetic-new-arrival-fashion-banner-landscape-cNjAcBMeF9s.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 90vh;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    background-color: #ff69b4;
}

/* About */
.about {
    padding: 50px;
    text-align: center;
}

.about h2 {
    margin-bottom: 15px;
}

/* Collection */
.collection {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: white;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Contact */
.contact {
    padding: 50px;
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
